.DS_Store
**/__pycache__/*
example_scripts/PSL_*
example_scripts/datasetIsing-ACTest-N100/
example_scripts/datasetSK-ACTest-N100/
example_scripts/
example_scripts/datasets/*
executables/
data/
./PSL_*
./*.egg-info
**/*.hdf5
